body {
    background-color: #091c3e;

}

img {
    width: 70px;
    height: 90px;
}

.carte {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

#mbappe {
    width: 260px;
    height: 200px;
}

h1 {
    color: #cdfb0a;

}

h2 {
    color: #cdfb0a;
    
}

.classement {
    margin-left: 200px;
    margin-right: 200px;
}

.video {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h6 {
    color: aliceblue;
}

ul {
    color: aliceblue;
}

.diff {
    text-align: center;
    color:aliceblue;
}

.blanc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
}

.image {
    width: 200px;
    height: 80px;
}

.banniere {
    margin-left: 40px;
}

p{
    color: aliceblue;
}

a{
    color: aliceblue;
} 
#titre{
    margin-left: 20px;
}

button{
    background-color: #cffb0ac8;
    color: #091c3e;
    border: #cdfb0a;
}
.iii{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
